@import "./base.css";
.label{text-align: center;display: block;margin: auto;border: 1px solid #ffffff78;width: 100px;padding: 10px;border-radius: 8px;}
.scan_product{width: 200px;height: 200px;background-color: #fff;margin: 20px auto;border-radius: 10px;}
