@import "./base.css";
._page_wrapper{padding: 10px;}
.verify_detail {padding-top: 30px;}
.v_addition	{margin-top: 40px;}
form>div {background-color: #5e5e5e;padding: 10px 2px;height: 30px;}
._country {border-top-left-radius: 10px;border-top-right-radius: 10px;margin: 1px;}
._input_wrapper {border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
._input_wrapper input{background-color: #00000000;outline: none;border: none;padding: 5px 3px;color: #fff;}
._input_wrapper input::placeholder {color: #ffffff7a;}
h2 {margin: 4px;}
._v_code {display: flex;justify-content: center;padding: 10px 2px;}
._v_code input {
    background-color: #5e5e5e;
    width: 40px;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 0px 3px;
				color: #fff;
}
._info {margin: 20px auto;text-align: center;}
._next p{width: 80px;height: 20px;background-color:  #5e5e5e;display: block;margin: 20px auto;padding: 10px;text-align: center;border-radius: 15px;}

._alt_activity { text-align: center; }
._alt_activity p { margin: 20px auto; }
._send_sms { width: 90px;font-size: 30px;margin: 10px auto;padding: 8px;margin-top: 30px;background-color: #00000000;border-radius: 10px;text-align: center;border: 1px solid #fff; }
